<div class="jumbotron">
  <h1 class="display-4">School Management System</h1>
  <p class="lead">Grade students on the go</p>
  <hr class="my-4">
  <p>You can try logging in as Admin, Teacher or Student</p>
  <a class="btn btn-primary btn-lg" href="/admin/login" role="button">Admin Login</a>
  <a class="btn btn-primary btn-lg" href="/teacher/login" role="button">Teacher Login</a>
  <a class="btn btn-primary btn-lg" href="/student/login" role="button">Student Login</a>
</div>