<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/admin/">Admin Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-5 mr-3">
        <a class="nav-link" href="/admin/class">Class <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ml-5 mr-3">
        <a class="nav-link" href="/admin/subject">Subject <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ml-5 mr-3">
        <a class="nav-link" href="/admin/teacher">Teacher <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ml-5 mr-3">
        <a class="nav-link" href="/admin/student">Student <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="text-right">
      <a class="mr-5" href="/admin/profile">
        <img
          src="https://cdn1.iconfinder.com/data/icons/navigation-elements/512/user-login-man-human-body-mobile-person-512.png"
          width="5%" alt="profile">
      </a>
      <a class="ml-3 mr-5" href="/admin/signout">
        <img
          src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-3/24/018_128_arrow_exit_logout-512.png"
          width="5%" alt="profile">
      </a>
    </div>

  </div>
</nav>